<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/password.css">
</head>
<body>
<div class="reset-password">
    <img src="../img/elevatedw.jpg" alt="" srcset="">
    <h2>Forgot Password</h2>
    <p>Please Enter Your Email.</p>

    <div class="email">
        <p>Email</p>
        <input placeholder="Enter Email" id="Email" type="email" required="required"></input>
    </div>
    <button type="submit">Submit</button>
    <a th:href="@{/login}">Sign In</a>
</div>
</body>
</html>